@model medical.Model.Models.Maladie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maladie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CentreSante.DESIGNATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentreSante.DESIGNATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hopital.COORDONNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hopital.COORDONNE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPATIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPATIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYMPTOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYMPTOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESIGNATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBSERVATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSERVATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mois)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mois)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
