@model medical.Model.Models.Facturation

@{
    ViewBag.Title = "Details";
}

<div class="card-body">
    <h4>Facturation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <text>Code</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen.CODE)
        </dd>

        <dt>
            <text>Réference</text>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REFERENCE)
        </dd>

        <dt>
            <text>Date Facture</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEFACTURE)
        </dd>

        <dt>
            <text>Nom Patient</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMPATIENT)
        </dd>
        <dt>
            <text>Age Patient</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>
        <dt>
            <text>Examen</text>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Examen.DESIGNATION)
        </dd>
        <dt>
            <text>Montant à Payer</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen.Cout)
        </dd>

    </dl>
</div>
@*<div class="card-footer">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDFACTURATION }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>*@