

@if (User.IsInRole("Admin"))
{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
            <div class="sidebar-brand-icon">
                <i class="fas fa-laptop-medical"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HMS<sup>Pro</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="fas fa-fw fa-home"></i>
                <span>Acceuil</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Activité
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user-injured"></i>
                <span>Opération</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">:Clinic</h6>
                    @*<a class="collapse-item" href="@Url.Action("Index","Patients")">Patients</a>*@
                    @*<a class="collapse-item" href="@Url.Action("Index","Consultations")">Consultations</a>*@

                    @*<a class="collapse-item" href="@Url.Action("Index","ActeInfiemiers")">Acte Infiemiers</a>
                    <a class="collapse-item" href="@Url.Action("Index","ActeMedicals")">Acte Medicals</a>
                    <div class="collapse-divider"></div>*@
                    <a class="collapse-item" href="@Url.Action("Index","Serves")">Services</a>
                    <a class="collapse-item" href="@Url.Action("Index","Examen")">Examen/Laboratoire</a>
                    @*<a class="collapse-item" href="@Url.Action("Index","Compterendus")">Compterendus</a>*@
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-user-nurse"></i>
                <span>Administration Compte</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Utilisateurs:</h6>
                    <a class="collapse-item" href="@Url.Action("Medecin","Account")">Médecins Examinateurs</a>
                    <a class="collapse-item" href="@Url.Action("Index","Demandeurs")">Médecins Démandeurs</a>
                    <a class="collapse-item" href="@Url.Action("Secretaire","Account")">Secrétaires</a>
                    <a class="collapse-item" href="@Url.Action("Caissier","Account")">Caissiers</a>
                    @*<h6 class="collapse-header">Monitoring:</h6>
                        <a class="collapse-item" href="@Url.Action("Index","Pavillons")">Pavillonss</a>
                        <a class="collapse-item" href="@Url.Action("Index","Hospitalisations")">Hospitalisations</a>
                        <a class="collapse-item" href="@Url.Action("Index","Rendezvous")">Rendez-Vous</a>*@
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Outils
        </div>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Facture")">
                <i class="fas fa-fw fa-money-bill"></i>
                <span>Faturations</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-money-bill"></i>
                <span>Finances</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Encaissement:</h6>
                    <a class="collapse-item" href="@Url.Action("Recette","Facturations")">Recettes</a>
                    <a class="collapse-item" href="@Url.Action("Caisse","Facturations")">Etat Caisse</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Décaissement:</h6>
                    <a class="collapse-item" href="@Url.Action("Depense","Depenses")">Dépenses</a>
                    <a class="collapse-item" href="@Url.Action("Synthese","Depenses")">Synthèse</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Honoraires:</h6>
                    <a class="collapse-item" href="@Url.Action("SoldeMedecin","Facturations")">Médecins</a>
                </div>
            </div>
        </li>

       

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card">
            <img class="sidebar-card-illustration mb-2" src="~/Content/img/undraw_rocket.svg" alt="">
            <p class="text-center mb-2"><strong>HMS Pro compte Admin</strong> Le Système d'Information Hospitalier le plus performant!</p>
            <a class="btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#logoutModal">Information</a>
        </div>

    </ul>
}

@if (User.IsInRole("Medecin"))
{
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
            <div class="sidebar-brand-icon">
                <i class="fas fa-laptop-medical"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HMS<sup>Pro</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="fas fa-fw fa-home"></i>
                <span>Acceuil</span>
            </a>
        </li>
       
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("MyPatients","Facturations")">
                <i class="fas fa-fw fa-user-injured"></i>
                <span>Mes Patients</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("DetailPatient","Facturations")">
                <i class="fas fa-fw fa-users-cog"></i>
                <span>Mes Services</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListMyHonoraires","Facturations")">
                <i class="fas fa-fw fa-money-bill"></i>
                <span>Mes Honoraires</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card">
            <img class="sidebar-card-illustration mb-2" src="~/Content/img/undraw_rocket.svg" alt="">
            <p class="text-center mb-2"><strong>HMS Pro compte Médecin</strong> Le Système d'Information Hospitalier le plus performant!</p>
            <a class="btn btn-warning btn-sm" href="#" data-toggle="modal" data-target="#logoutModal">Information</a>
        </div>

    </ul>
}

@if (User.IsInRole("Secretaire"))
{
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
            <div class="sidebar-brand-icon">
                <i class="fas fa-laptop-medical"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HMS<sup>Pro</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="fas fa-fw fa-home"></i>
                <span>Acceuil</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Activité
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Configuration</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">:Clinic</h6>
                    @*<a class="collapse-item" href="@Url.Action("Index","Patients")">Patients</a>*@
                    @*<a class="collapse-item" href="@Url.Action("Index","Consultations")">Consultations</a>*@

                    @*<a class="collapse-item" href="@Url.Action("Index","ActeInfiemiers")">Acte Infiemiers</a>
                        <a class="collapse-item" href="@Url.Action("Index","ActeMedicals")">Acte Medicals</a>
                        <div class="collapse-divider"></div>*@
                    <a class="collapse-item" href="@Url.Action("Index","Serves")">Services</a>
                    <a class="collapse-item" href="@Url.Action("Index","Examen")">Examen/Laboratoire</a>
                    @*<a class="collapse-item" href="@Url.Action("Index","Compterendus")">Compterendus</a>*@
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Outils
        </div>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Facturations")">
                <i class="fas fa-fw fa-money-bill"></i>
                <span>Faturations</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("DetailPatient","Facturations")">
                <i class="fas fa-fw fa-server"></i>
                <span>Services</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Impression","Facturations")">
                <i class="fas fa-fw fa-print"></i>
                <span>Services</span>
            </a>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card">
            <img class="sidebar-card-illustration mb-2" src="~/Content/img/undraw_rocket.svg" alt="">
            <p class="text-center mb-2"><strong>HMS Pro compte Agent</strong> Le Système d'Information Hospitalier le plus performant!</p>
            <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#logoutModal">Information</a>
        </div>
    </ul>
}

@if (User.IsInRole("Caissier"))
{
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon">
            <i class="fas fa-laptop-medical"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HMS<sup>Pro</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fas fa-fw fa-home"></i>
            <span>Acceuil</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Activité
    </div>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Paiements")">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Paiements</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Depenses")">
            <i class="fas fa-fw fa-server"></i>
            <span>Dépenses</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SoldeMedecin","Facturations")">
            <i class="fas fa-fw fa-server"></i>
            <span>Etats Honoraires</span>
        </a>
    </li>
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="~/Content/img/undraw_rocket.svg" alt="">
        <p class="text-center mb-2"><strong>HMS Pro compte Agent</strong> Le Système d'Information Hospitalier le plus performant!</p>
        <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#logoutModal">Information</a>
    </div>
</ul>
}