@model medical.Model.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTNOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTNOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIEUNAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIEUNAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATENAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATENAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETATCIVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETATCIVIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESSSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESSSE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PATIENT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
