@model medical.Model.Models.Examen

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
           <text class = "control-label col-md-2">Code</text>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <text class="control-label col-md-2">Ref Service</text>
            <div class="col-md-10">
                @Html.DropDownList("IDSERVICE", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDSERVICE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <text class="control-label col-md-2">Désignation Examen</text>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DESIGNATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESIGNATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <text class="control-label col-md-2">Prix Unitaire</text>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PRIXUNITAIRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRIXUNITAIRE, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <text class="control-label col-md-2">Matière</text>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MATIERE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MATIERE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <input class="btn btn-primary" type="submit" value="Enregistrer" />
        </div>
    </div>
}
